*{
  padding: 0;
  margin: 0;
}

.headerTringles{
  width: 100%;
  position: absolute;
  display: flex;
  justify-content:space-between;
}
.headerYellowTringle{
width: 0;
height: 0;
  border-top: 512px solid #f6f2ce;
  border-right: 421px solid transparent;
 display: inline-block;
  
}

.headerGreyTringle{
width: 0;
height: 0;
border-top: 888px solid #9E9E9E;
border-left: 679px solid transparent;
display: inline-block;
z-index: 3;
}
.entry {
  margin-top: 230px;
  position: absolute;
  width: 100%;
  height:800px;
  background: url(./images/Terapia-behawioralna-co-to-jest-i-kiedy-sie-ja-stosuje_article.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
   z-index: -1;
   filter: grayscale(50%);
   
}
.container{
  border: 1px solid seagreen;
  width: 90vw;
  height:100%;
  margin-left: auto;
  margin-right: auto;
}