
.line{
  
    background-color: black; 
    width: 50%;
    height: 2px;
    position:relative;
    right: 50px;
}

.menu{
    width: 60%;
   
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    position:relative;
    z-index: 10;
}
.menu>li{
    display: inline-block; 
}
.menu>li:hover{
    transform:scale(1.5);
}
