.boxTables{
display: flex;
justify-content: space-around;

}
.prize{
text-align: center;
}
.tables{
   
    width: 49%;
    height:295px;
    display: inline-block;
}
.tables h2{
    padding: 0;
}
td{
    width: 100%;
        border-bottom: 1px solid rgb(201, 103, 103);
    
}
.secondDivTables{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
